body, h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.font, #right-sidebar-page, #left-sidebar-page, #about-page, #contact .col-6 p, #contact .col-3 p, #contact, #learn .container .learn-text button, #learn .container .learn-text, #ques .container .col-6 p, #ques .container .col-6 h1, #ques .container h2, #page .container .page-item .col-4 p, #page .container .page-item .col-4 h1, #page .container h1, #about .container p, #about .container h1, #home .container .two-btn, #home .container button, #home .container p, #home .container h1, #navbar .col-9 .header-action ul li button, #navbar .col-9 .header-action ul li a {
  font-family: "Open sans", Helvetica, Arial;
}

.container {
  width: 1140px;
  margin: 0px auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex, #about-page .about-left .about-left-item-1, #footer .col-4, #footer .col-8 ul, #footer, #page .container .page-item, #about .container, #home .container, #navbar .col-9 .header-action ul, #navbar .col-9 .header-action, #navbar .col-3 {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column, #about .container, #home .container {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-inherit {
  flex-direction: inherit;
}

.justify-center, #about .container, #home .container {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end, #navbar .col-9 .header-action {
  justify-content: flex-end;
}

.justify-content-between, #about-page .about-left .about-left-item-1, #page .container .page-item {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-left {
  justify-content: left;
}

.justify-content-right {
  justify-content: right;
}

.align-items-center, #footer .col-4, #about .container, #home .container, #navbar .col-9 .header-action ul, #navbar .col-3 {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-inherit {
  align-items: inherit;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.col-1 {
  width: calc((100% / 12)*1);
}

.col-2 {
  width: calc((100% / 12)*2);
}

.col-3 {
  width: calc((100% / 12)*3);
}

.col-4 {
  width: calc((100% / 12)*4);
}

.col-5 {
  width: calc((100% / 12)*5);
}

.col-6 {
  width: calc((100% / 12)*6);
}

.col-7 {
  width: calc((100% / 12)*7);
}

.col-8 {
  width: calc((100% / 12)*8);
}

.col-9 {
  width: calc((100% / 12)*9);
}

.col-10 {
  width: calc((100% / 12)*10);
}

.col-11 {
  width: calc((100% / 12)*11);
}

.col-12 {
  width: calc((100% / 12)*12);
}

#navbar {
  background: black;
}
#navbar .container {
  padding: 15px;
}
#navbar .col-9 .header-action ul li {
  padding: 15px;
}
#navbar .col-9 .header-action ul li a {
  font-size: 14px;
  color: white;
  opacity: 0.5;
  font-weight: bold;
}
#navbar .col-9 .header-action ul li a:hover {
  opacity: 1;
  transition: all 0.3s linear;
}
#navbar .col-9 .header-action ul li button {
  font-size: 14px;
  color: white;
  opacity: 0.5;
  font-weight: bold;
  background: black;
  border: 1px solid rgb(121, 121, 121);
  padding: 15px;
  border-radius: 5px;
}
#navbar .col-9 .header-action ul li button:hover {
  opacity: 1;
  transition: all 0.3s linear;
}
#navbar .col-9 .header-action ul .dropdown {
  position: relative;
}
#navbar .col-9 .header-action ul .dropdown .drop {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #000;
  margin-left: -15px;
  margin-top: 10px;
  opacity: 0.6;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}
#navbar .col-9 .header-action ul .dropdown .drop li {
  padding: 0.5rem;
  width: 100px;
}
#navbar .col-9 .header-action ul .dropdown:hover .drop {
  display: block;
}

#home {
  height: 415px;
  background-image: url(../../../images/bg_header.jpg);
  background-size: cover;
}
#home .container {
  color: white;
  text-align: center;
}
#home .container .home-text {
  padding-top: 180px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#home .container h1 {
  font-size: 44px;
  font-weight: 100;
}
#home .container p {
  font-size: 14px;
  margin-bottom: 25px;
}
#home .container span {
  border-bottom: 1px solid gray;
  cursor: pointer;
}
#home .container button {
  font-size: 14px;
  color: white;
  opacity: 0.5;
  font-weight: bold;
  background: black;
  border: 2px solid rgb(255, 255, 255);
  padding: 15px 65px;
  border-radius: 3px;
  background: transparent;
}
#home .container .two-btn {
  font-size: 14px;
  color: white;
  opacity: 0.8;
  font-weight: bold;
  background: black;
  border: 2px solid rgb(255, 255, 255);
  padding: 15px 65px;
  border-radius: 3px;
  background-color: orange;
}
#home .container button:hover {
  opacity: 1;
  transition: all 0.3s linear;
}

#about {
  margin-bottom: 70px;
}
#about .container {
  text-align: center;
}
#about .container .about-text {
  padding-top: 70px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#about .container h1 {
  font-size: 30px;
  opacity: 0.9;
  font-weight: 300;
  margin-bottom: 10px;
}
#about .container p {
  width: 600px;
  padding: 5px;
  font-weight: 500;
  font-size: 14px;
}

#page {
  background-color: #f7f5f4;
  padding-top: 30px;
  padding-bottom: 60px;
}
#page .container h1 {
  text-align: center;
  color: #382526;
  font-size: 24px;
  font-weight: 300;
  margin: 30px 0px 10px;
}
#page .container .page-item .col-4 {
  margin-top: 40px;
  text-align: center;
  color: #382526;
  font-weight: bold;
  padding: 0px 20px;
}
#page .container .page-item .col-4 i {
  font-size: 54px;
  padding-top: 20px;
}
#page .container .page-item .col-4 h1 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
}
#page .container .page-item .col-4 p {
  font-size: 14px;
  font-weight: 200;
}

#ques {
  padding-top: 60px;
  padding-bottom: 60px;
}
#ques .container h2 {
  text-align: center;
  color: #382526;
  font-size: 30px;
  font-weight: 300;
}
#ques .container .col-6 {
  padding-top: 60px;
}
#ques .container .col-6 h1 {
  color: #382526;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: normal;
}
#ques .container .col-6 p {
  color: #382526;
  font-size: 14px;
}
#ques .container .col-6 span {
  color: rgb(46, 46, 247);
  cursor: pointer;
}
#ques .container .col-6 span:hover {
  color: #382526;
  border-bottom: 1px solid #382526;
}

#learn {
  padding-bottom: 100px;
}
#learn .container {
  background-color: #f7f5f4;
}
#learn .container .learn-text {
  padding: 45px;
  font-size: 18px;
  font-weight: 300;
}
#learn .container .learn-text button {
  font-size: 14px;
  color: white;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 15px 35px;
  border-radius: 5px;
  background-color: orange;
  margin: 10px 0px 0px 850px;
  cursor: pointer;
}

#contact {
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 14px;
  color: #999;
  padding-bottom: 45px;
}
#contact h1 {
  padding-bottom: 20px;
}
#contact .col-3 p {
  font-size: 14px;
  padding: 3px;
}
#contact .col-3 .two:hover {
  cursor: pointer;
  border-bottom: 1px solid #999;
  color: #fff;
  transition: all 0.3s linear;
}
#contact .col-3 .three {
  padding-top: 20px;
}
#contact .col-3 .icon-contact i {
  font-size: 26px;
  padding: 5px;
}
#contact .col-6 p {
  padding: 5px;
}

#footer {
  background: #191919;
  color: #999;
  font-size: 16px;
}
#footer .col-8 ul {
  padding: 10px 0px 10px 0px;
}
#footer .col-8 li {
  padding: 5px;
  cursor: pointer;
}
#footer .col-8 li:hover {
  border-bottom: 1px solid #fff;
}
#footer .col-4 {
  text-align: center;
}
#footer .col-4 span {
  color: #fff;
  cursor: pointer;
}
#footer .col-4 span:hover {
  border-bottom: 1px solid #fff;
}

#about-page {
  color: #333333;
}
#about-page span {
  color: rgb(33, 33, 236);
  opacity: 1;
}
#about-page .col-12 {
  opacity: 0.8;
  padding-top: 30px;
  font-size: 14px;
  cursor: pointer;
}
#about-page .col-8 {
  margin: 20px 0px 10px 0px;
  padding-top: 20px;
  padding-right: 15px;
  box-sizing: border-box;
}
#about-page .head-8 {
  border-bottom: 1px solid rgb(209, 202, 202);
  padding-bottom: 15px;
}
#about-page h1 {
  font-size: 36px;
  font-weight: 300;
}
#about-page .about-left h1 {
  margin: 30px 0px 10px 0px;
  font-size: 24px;
}
#about-page .about-left p {
  font-size: 14px;
  padding: 0px 10px 20px 0px;
}
#about-page .about-left .about-left-item-1 img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
#about-page .col-4 {
  margin: 25px 0px 10px 0px;
  padding-top: 20px;
  padding-left: 15px;
  box-sizing: border-box;
}
#about-page .col-4 h1 {
  font-size: 18px;
}
#about-page .col-4 span:hover {
  border-bottom: 1px solid rgb(40, 37, 211);
}
#about-page .col-4 .about-right {
  padding: 10px;
}
#about-page .col-4 .about-right h1 {
  opacity: 0.8;
  font-size: 14px;
  padding-bottom: 5px;
}
#about-page .col-4 .about-right p {
  opacity: 0.6;
  font-size: 11.9px;
}
#about-page .col-4 .about-right .ab-right-text {
  padding-bottom: 15px;
}

#left-sidebar-page {
  color: #333333;
}
#left-sidebar-page span {
  color: rgb(33, 33, 236);
  opacity: 1;
}
#left-sidebar-page .col-12 {
  opacity: 0.8;
  padding-top: 30px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0px;
}
#left-sidebar-page .head-8 {
  border-bottom: 1px solid rgb(209, 202, 202);
  padding-bottom: 15px;
}
#left-sidebar-page .col-4 {
  margin: 25px 0px 10px 0px;
}
#left-sidebar-page .col-4 h1 {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 300;
}
#left-sidebar-page .col-4 p {
  font-size: 14px;
}
#left-sidebar-page .col-4 img {
  width: 360px;
  height: 235px;
  border-radius: 5px;
}
#left-sidebar-page .col-4 .left-sidebar-img {
  padding-bottom: 45px;
}
#left-sidebar-page .col-4 .left-sidebar-img p {
  padding-top: 5px;
}
#left-sidebar-page .col-8 {
  margin: 0px 0px 10px 0px;
  padding-top: 20px;
  padding-left: 15px;
  box-sizing: border-box;
}
#left-sidebar-page .col-8 h1 {
  font-size: 36px;
  font-weight: 300;
}
#left-sidebar-page .col-8 p {
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}
#left-sidebar-page .col-8 .left-sidebar-right {
  padding-top: 30px;
}
#left-sidebar-page .col-8 .left-sidebar-right h1 {
  margin: 30px 0px 10px;
  font-size: 30px;
}
#left-sidebar-page .col-8 .left-sidebar-right .special-text {
  font-style: italic;
  font-family: Georgia;
  color: #999;
  margin: 30px 0 30px;
  font-size: 17.5px;
}

#right-sidebar-page {
  color: #333333;
}
#right-sidebar-page span {
  color: rgb(33, 33, 236);
  opacity: 1;
}
#right-sidebar-page .col-12 {
  opacity: 0.8;
  padding-top: 30px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0px;
}
#right-sidebar-page .head-8 {
  border-bottom: 1px solid rgb(209, 202, 202);
  padding-bottom: 15px;
}
#right-sidebar-page .col-8 {
  margin: 0px 0px 10px 0px;
  padding-top: 20px;
}
#right-sidebar-page .col-8 h1 {
  font-size: 36px;
  font-weight: 300;
}
#right-sidebar-page .col-8 p {
  font-size: 14px;
}
#right-sidebar-page .col-8 .right-sidebar-text {
  padding-top: 30px;
}
#right-sidebar-page .col-8 .right-sidebar-text h1 {
  margin: 30px 0px 10px;
  font-size: 30px;
}
#right-sidebar-page .col-8 .right-sidebar-text .special-text {
  font-style: italic;
  font-family: Georgia;
  color: #999;
  margin: 30px 0 30px;
  font-size: 17.5px;
}
#right-sidebar-page .col-4 {
  margin: 25px 0px 10px 0px;
  padding-left: 20px;
  box-sizing: border-box;
}
#right-sidebar-page .col-4 h1 {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 300;
}
#right-sidebar-page .col-4 p {
  font-size: 14px;
}
#right-sidebar-page .col-4 img {
  width: 360px;
  height: 235px;
  border-radius: 5px;
}
#right-sidebar-page .col-4 .right-sidebar-img {
  padding-bottom: 45px;
}
#right-sidebar-page .col-4 .right-sidebar-img p {
  padding-top: 5px;
}