#page {
  background-color: #f7f5f4;
  padding-top: 30px;
  padding-bottom: 60px;
  .container {
    h1 {
      @extend .font;
      text-align: center;
      color: #382526;
      font-size: 24px;
      font-weight: 300;
      margin: 30px 0px 10px;
    }
    .page-item {
      @extend .flex;
      @extend .justify-content-between;

      .col-4 {
        margin-top: 40px;
        text-align: center;
        color: #382526;
        font-weight: bold;
        padding: 0px 20px;

        i {
          font-size: 54px;
          padding-top: 20px;
        }
        h1 {
          @extend .font;
          font-size: 18px;
          margin-bottom: 20px;
          font-weight: 700;
        }
        p {
          @extend .font;
          font-size: 14px;
          font-weight: 200;
        }
      }
    }
  }
}
